$default-color: #555 !important;
$primary-color: $mainColor;

@import '~vue2-datepicker/scss/index.scss';
.mx-calendar-header-label {
  button {
    font-weight: bold !important;
    font-size: 16px !important;
  }
}

.mx-calendar {
  width: 290px !important;
}

.mx-table-date {
  th {
    font-weight: bold !important;
    font-size: 16px !important;
  }

  td {
    font-size: 16px !important;

    &.disabled {
      opacity: 0.6 !important;
    }

    &.today {
      background: rgba(97, 190, 247, 0.42) !important;
    }

    &.active {
      background: $mainColor !important;
    }
  }

  .mx-date-row {
    td:last-child {
      color: #ff345c !important;
      color: #ff345c !important;
    }

  }
}

.mx-datepicker {
  width: 100% !important;
}

.form__date {

  border-radius: 5px;
  border: 1px solid #999999;
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: $mainColor;
  font-weight: 400;
  background: #f7f7f7;
  transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;

  &:focus {
    border-color: $mainColor;
    background: rgba(255, 255, 255, 0.5);
  }


}