

.form {
  padding-bottom: 30px;

  label {
    font-size: 14px;
    color: #555;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;


  }

  &__field {
    margin-bottom: 13px;
  }

  &__input {
    border-radius: 5px;
    border: 1px solid #999999;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 16px;
    color: $mainColor;
    font-weight: 400;
    background: #f7f7f7;
    transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;

    &:focus {
      border-color: $mainColor;
      background: rgba(255, 255, 255, 1);
    }

    &--uppercase {
      text-transform: uppercase;
    }

    &--textarea {
      resize: none;
      height: 200px;
      font-size: 14px;
    }

    option {
      border: 0;
      box-shadow: none;
    }
  }


}