$menuTextColor:#586670;
$textColor:#444f57;
$lightText: #94aab8;
$mainColor: #4cb1ff;
$lightMainColor: #edf4ff;
$settings: #ff5d64;





$success: #1DA755;
$danger: #a71e34;
$info: #2d98da;
$alert: #fa8231;

$screen-sm:767px;
$screen-md:992px;
$screen-lg:1199px;
$container:1270px;


