$mainColor:#146278;
$mainColorHover: #1c8aa9;
$highlightColor:#08733f;
$highlightColorHover: #0ba158;
$tableHeader:#499CDD;

$success: #42a13a;

$screen-sm:767px;
$screen-md:992px;
$screen-lg:1199px;

$container:1270px;
