.dashboard{
  padding:40px 0;


  h1{
    font-size:30px;
    color:$mainColor;
    text-align: center;
    margin-bottom: 30px;
    margin-top:0;
  }


  &__container{
    padding:0 15px;
    max-width:$container;
    width:100%;
    margin:0 auto;
    box-sizing: border-box;
  }

  &__row{
    display: flex;
    flex-wrap: wrap;
    margin:0 -15px;
  }

  &__col{
    padding:0 15px;
    box-sizing: border-box;
    width:33.33%;
    display: flex;
    padding-bottom:30px;

    @media (max-width:$screen-md)
    {
      width:50%;
    }
    @media (max-width:$screen-sm)
    {
      width:100%;
    }

    &--4{
      width:25%;

      @media (max-width:$screen-lg)
      {
        width:33.33%;
      }


      @media (max-width:$screen-md)
      {
        width:50%;
      }
      @media (max-width:$screen-sm)
      {
        width:100%;
      }

    }

    &--notFlex{
      display: block;
    }
  }
  &__empty{
    font-size:16px;
    text-align: center;
    color:#ccc;
    font-weight: bold;
  }

}
