.message {
  background: #fff;
  color: #fff;
  max-width: 330px;
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  font-weight: bold;
  top: 0px;
  opacity: 0;
  display: flex;

  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.active {
    opacity: 1;
    transform: translateY(100%);
  }

  &__icon {
    color: #fff;
    font-size: 20px;
    background: $success;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
    align-items: center;
    background: lighten($success, 10%);
    width:100%;

  }


}
