.table{
  table{
    width:100%;
    border-collapse: collapse;
    thead{
      background: $tableHeader;
      th{
        padding:10px;
        text-align: center;
        font-size:14px;
        color:#fff;
      }
    }

    tbody{
      tr{
        &:nth-child(even){
          background: #f7f7f7;
        }
      }
      td{
        font-size:14px;
        padding:10px;
        text-align: center;
      }
    }
  }

  .action{

    display: flex;
    align-items: center;
    justify-content: center;

    &__button{
      margin:0 5px;
      font-size:12px;
      color:#fff;
      font-weight: bold;
      text-decoration: none;
      padding:5px;
      border-radius: 5px;
      font-weight: bold;
      transition: background 0.3s;
      background:#333;
      &:hover{
        background: #555;
      }
      i{
        font-size:14px;
      }

      &--success{
        background: $highlightColor;

        &:hover{
          background: $highlightColorHover;
        }
      }

      &--info{
        background: $mainColor;

        &:hover{
          background: $mainColorHover;
        }
      }
    }
  }
}
